<!DOCTYPE HTML5>
{% load static %}
<html>
    <head>
        <title>Sudoku Web</title>
        <link href="{% static "mainapp/indexStyleSheet.css"%}" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <hr class="hr-top">
        <h1>Sudoku Webapp</h1>
        <div class="buttons">
            <button id="StartButton">Start Button</button>
            <button id="LeaderBoardButton">Leader Board</button>
            <button id="AboutUsButton">About Us</button>
        </div>
        <hr class="hr-bottom">
    </body>

</html>