h1{
    padding-top: 5%;
    text-align: center;
    font-size: 100px;
    font-weight: 100;
    position: relative;
    top: 60px;
}

.hr-top{
    position: fixed;
    top: 0px;
    width: 1330px;
    border: 10px solid green;
    border-radius: 60%;
}

.hr-bottom{
    position: fixed;
    bottom: 0px;
    left: 425px;
    width: 500px;
    border: 8px solid green;
    border-radius: 60%;
}

.buttons{
    margin: auto;
    width: 200px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 80px 80px;
    grid-template-rows: 80px 80px;
    grid-template-areas: 
    "start start"
    "leaderboard aboutus";
    column-gap: 10px;
    row-gap: 10px;
    
}

#StartButton{
    grid-area: start;
    font-size: 100%;
    position: relative;
    background-color: darkgreen;
    color: whitesmoke;
}
#StartButton::before{
    content: "";
    position: absolute;
    background-color: grey;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#StartButton:hover{
    bottom: 10px;
}
#StartButton:hover::before{
    top: 10;
}

#StartButton:active{
    bottom: 0px;
}
#StartButton:active::before{
    top: 0;
}
#LeaderBoardButton{
    grid-area: leaderboard;
    color: whitesmoke;
    background-color: darkgreen;
    position: relative;
}

#LeaderBoardButton::before{
    content: "";
    position: absolute;
    background-color: grey;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#LeaderBoardButton:hover{
    bottom: 10px;
}
#LeaderBoardButton:hover::before{
    top: 10;
}

#LeaderBoardButton:active{
    bottom: 0px;
}
#LeaderBoardButton:active::before{
    top: 0;
}

#AboutUsButton{
    grid-area: aboutus;
    color: whitesmoke;
    position: relative;
    background-color: darkgreen;
}

#AboutUsButton::before{
    content: "";
    position: absolute;
    background-color: grey;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#AboutUsButton:hover{
    bottom: 10px;
}
#AboutUsButton:hover::before{
    top: 10;
}

#AboutUsButton:active{
    bottom: 0px;
}
#AboutUsButton:active::before{
    top: 0;
}

