h1{
    padding-top: 5%;
    text-align: center;
    font-size: 100px;
    font-weight: 100;
    position: relative;
    top: 60px;
}

.hr-top{
    position: fixed;
    top: 0px;
    width: 1330px;
    border: 10px solid green;
    border-radius: 60%;
}

.hr-bottom{
    position: fixed;
    bottom: 0px;
    left: 425px;
    width: 500px;
    border: 8px solid green;
    border-radius: 60%;
}

.buttons{
    margin: auto;
    width: 200px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 80px 80px;
    grid-template-rows: 80px 80px;
    grid-template-areas: 
    "start start"
    "leaderboard aboutus";
    column-gap: 10px;
    row-gap: 10px;
    
}

#StartButton{
    grid-area: start;
    font-size: 0%;
    position: relative;
    overflow: hidden;
}

#LeaderBoardButton{
    grid-area: leaderboard;
    font-size: 100%;
    color: whitesmoke;
    background-color: darkgreen;
    position: relative;
    overflow: hidden;
}
#LeaderBoardButton::after{
    content:"";
    position: absolute;
    background-color: rgb(240,240,240);
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
}
#LeaderBoardButton:hover::after{
    transition-duration: 0.5s;
    height: 0%;
    width: 0%;
}

#AboutUsButton{
    grid-area: aboutus;
    font-size: 0%;
}
#AboutUsButton:hover{
    background-color: darkgreen;
    font-size: 100%;
    color: whitesmoke
}